screen mode id:i:1
use multimon:i:0
desktopwidth:i:{{DESKTOP_WIDTH}}
desktopheight:i:{{DESKTOP_HEIGHT}}
session bpp:i:24
winposstr:s:{{WIN_POS_STR}}
desktop size id:i:0
dynamic resolution:i:{{DYNAMIC_RESOLUTION}}
smart sizing:i:{{SMART_SIZING}}
desktopscalefactor:i:{{DESKTOP_SCALE_FACTOR}}
devicescalefactor:i:{{DEVICE_SCALE_FACTOR}}
compression:i:1
keyboardhook:i:2
audiocapturemode:i:0
videoplaybackmode:i:1
connection type:i:7
networkautodetect:i:1
bandwidthautodetect:i:1
displayconnectionbar:i:1
enableworkspacereconnect:i:0
remoteappmousemoveinject:i:1
disable wallpaper:i:0
allow font smoothing:i:0
allow desktop composition:i:0
disable full window drag:i:1
disable menu anims:i:1
disable themes:i:0
disable cursor setting:i:0
bitmapcachepersistenable:i:1
full address:s:{{FULL_ADDRESS}}
audiomode:i:0
redirectprinters:i:1
redirectlocation:i:0
redirectcomports:i:0
redirectsmartcards:i:1
redirectwebauthn:i:1
redirectclipboard:i:1
redirectposdevices:i:0
autoreconnection enabled:i:1
authentication level:i:2
prompt for credentials:i:0
negotiate security layer:i:1
enablecredsspsupport:i:1
remoteapplicationmode:i:0
alternate shell:s:
shell working directory:s:
gatewayhostname:s:
gatewayusagemethod:i:4
gatewaycredentialssource:i:4
gatewayprofileusagemethod:i:0
promptcredentialonce:i:0
gatewaybrokeringtype:i:0
use redirection server name:i:0
rdgiskdcproxy:i:0
kdcproxyname:s:
enablerdsaadauth:i:0
username:s:{{USERNAME}}
